<ion-app>
  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header class="menu-header">
      <ion-toolbar>
        <ion-title>Secure Notes</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <ion-list>
        <ion-menu-toggle>
          <ion-item button [routerLink]="['']" lines="none" class="menu-item">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/note-list']" lines="none" class="menu-item">
            <ion-icon slot="start" name="list-outline"></ion-icon>
            <ion-label>Lista Notas</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/create-note']" lines="none" class="menu-item">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            <ion-label>Crear Nota</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/cloud-sync']" lines="none" class="menu-item">
            <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
            <ion-label>Sincronización Nube</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/import-notes']" lines="none" class="menu-item">
            <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
            <ion-label>Importar Notas</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer class="menu-footer ion-no-border">
      <ion-toolbar>
        <div class="footer-content">
          <p class="copyright">© 2026 Secure Notes</p>
          <div class="developer-info">
            <ion-icon name="code-slash-outline"></ion-icon>
            <span>Developer: <strong>Ing. José Romero</strong></span>
          </div>
          <div class="developer-info">
            <ion-icon name="mail-outline"></ion-icon>
            <span>Email: <strong>manabis.rum@gmail.com</strong></span>
          </div>
          <div class="developer-info">
            <ion-icon name="logo-github"></ion-icon>
            <span>GitHub: <strong>joseluisromero</strong></span>
          </div>
          <div class="developer-info">
            <ion-icon name="logo-linkedin"></ion-icon>
            <span>Linkedin: <strong>José Romero</strong></span>
          </div>
          <div class="developer-info">
            <ion-icon name="logo-whatsapp"></ion-icon>
            <span>Cell: <strong>0987641687</strong></span>
          </div>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
