<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container ion-margin-bottom ion-text-center">
    <ng-container *ngIf="!isEditingName">
      <h1>Hola, {{ userName }}! 👋
        <ion-button fill="clear" size="small" (click)="toggleEditName()">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
      </h1>
    </ng-container>

    <ng-container *ngIf="isEditingName">
      <ion-item lines="none" class="name-editor-item">
        <ion-input [(ngModel)]="userName" placeholder="Tu nombre" class="ion-text-center"></ion-input>
        <ion-button fill="clear" slot="end" (click)="saveName()">
          <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>

    <p class="ion-text-muted">Bienvenido a tu gestor personal de notas.</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre la App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta aplicación te permite crear, organizar y visualizar tus notas importantes de manera rápida y sencilla.
      Toda tu información sincronizada y lista cuando la necesites.
    </ion-card-content>
  </ion-card>

  <h2 class="ion-padding-start ion-margin-top">Accesos Rápidos</h2>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button [routerLink]="['/create-note']" color="primary">
          <ion-card-content class="ion-text-center">
            <ion-icon name="add-circle-outline" style="font-size: 3rem;"></ion-icon>
            <h3 class="ion-no-margin ion-margin-top">Crear Nota</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button [routerLink]="['/note-list']" color="tertiary">
          <ion-card-content class="ion-text-center">
            <ion-icon name="list-outline" style="font-size: 3rem;"></ion-icon>
            <h3 class="ion-no-margin ion-margin-top">Ver Notas</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>